<header class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Main navigation">
        <a class="homepage-link" href="{{ '/' | relative_url }}">Homepage</a>
        <button class="nav-toggle" type="button" aria-controls="primary-nav" aria-expanded="false" hidden><i class="fas fa-bars" aria-hidden="true"></i><span class="visually-hidden">Toggle navigation</span></button>
        <ul id="primary-nav" class="visible-links site-links">
          {% for link in site.data.navigation.main %}
          <li class="masthead__menu-item"><a href="{{ '/' | relative_url }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
