{% assign page_title = page.title | default: site.title %}
{% assign page_description = page.description | default: site.description %}
<title>{{ page_title | escape }}</title>
<meta name="description" content="{{ page_description | strip_html | strip_newlines | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="zh_CN">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ page_title | escape }}">
<meta property="og:description" content="{{ page_description | strip_html | strip_newlines | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% if site.author.avatar and site.author.avatar != empty %}<meta property="og:image" content="{{ site.author.avatar | absolute_url }}">{% endif %}
{% if site.google_site_verification and site.google_site_verification != empty %}<meta name="google-site-verification" content="{{ site.google_site_verification | escape }}">{% endif %}
{% if site.bing_site_verification and site.bing_site_verification != empty %}<meta name="msvalidate.01" content="{{ site.bing_site_verification | escape }}">{% endif %}
{% if site.baidu_site_verification and site.baidu_site_verification != empty %}<meta name="baidu-site-verification" content="{{ site.baidu_site_verification | escape }}">{% endif %}
